menu "MQTT Configuration"

    config BROKER_URL
        string "Broker URL"
        default "mqtt://mqtt.eclipse.org"
        help
            URL of the broker to connect to.

    config BROKER_USE_PASSWORD
        bool "Use login and password"
        default n
        help
            This allows you to skip login and password.

    config BROKER_USE_SSL
        bool "Use SLL auth"
        default n
        help
            This allows you to use SSL auth

    config BROKER_LOGIN
        string "Broker Login"
        default "test"
        help
            Login used to connect to the broker.

    config BROKER_PASSWORD
        string "Broker Password"
        default "test123"
        help
            Password used to connect to the broker.

endmenu